img{
	width : 180px;
	height : 180px;
}
#topHeader{
	text-align: center
}
#Cellist{
	width: 589px;
	height:395px;
}

body{
	background-color:#66CCCC;
}
.center{text-align: center
	
}
a{
	p {
    font-family: "Josefin Sans ",
}
}
    